@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --color-background: #ffffff;
  --color-foreground: #282829;
  --color-primary: #282829;
  --color-venetian-red-50: #ffeff1;
  --color-venetian-red-100: #ffdbe0;
  --color-venetian-red-200: #ffbdc5;
  --color-venetian-red-300: #ff909e;
  --color-venetian-red-400: #ff5066;
  --color-venetian-red-500: #ff1a37;
  --color-venetian-red-600: #ff0020;
  --color-venetian-red-700: #e0001c;
  --color-venetian-red-800: #b80017;
  --color-venetian-red-900: #7a0413;
  --color-venetian-red-950: #53000b;
  --color-prussian-blue-50: #f0f8ff;
  --color-prussian-blue-100: #dff0ff;
  --color-prussian-blue-200: #b9e2fe;
  --color-prussian-blue-300: #7acdff;
  --color-prussian-blue-400: #34b5fc;
  --color-prussian-blue-500: #099bee;
  --color-prussian-blue-600: #007bcb;
  --color-prussian-blue-700: #0062a4;
  --color-prussian-blue-800: #045388;
  --color-prussian-blue-900: #0a4670;
  --color-prussian-blue-950: #08355a;
  --color-ironstone-50: #fbf6f1;
  --color-ironstone-100: #f5eadf;
  --color-ironstone-200: #ead2be;
  --color-ironstone-300: #dcb395;
  --color-ironstone-400: #ce8e69;
  --color-ironstone-500: #c3734c;
  --color-ironstone-600: #b55f41;
  --color-ironstone-700: #974b37;
  --color-ironstone-800: #743b30;
  --color-ironstone-900: #63342b;
  --color-ironstone-950: #351915;
  --color-wheatfield-50: #fbf8eb;
  --color-wheatfield-100: #f7f2d7;
  --color-wheatfield-200: #ecdc9c;
  --color-wheatfield-300: #e1c463;
  --color-wheatfield-400: #d6ac39;
  --color-wheatfield-500: #c7962b;
  --color-wheatfield-600: #ab7523;
  --color-wheatfield-700: #89561f;
  --color-wheatfield-800: #734620;
  --color-wheatfield-900: #623b21;
  --color-wheatfield-950: #391e0f;
}

html {
  scroll-behavior: smooth;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

footer {
  background-color: var(--color-venetian-red-950);
}

.custom-text-primary {
  color: var(--color-primary);
}

.text-primary-black-alpha {
  color: #282829aa;
}

.text-primary-black-alpha:hover {
  color: var(--color-venetian-red-900);
}

.custom-text-primary:hover {
  color: var(--color-venetian-red-900);
}

.text-primary-wheat-50 {
  color: var(--color-wheatfield-50);
}

.text-primary-wheat-100 {
  color: var(--color-wheatfield-100);
}

.dashed-logo {
  border-style: dashed;
  border-color: var(--color-venetian-red-900);
  border-width: 2px;
  border-radius: 50%;
}

.text-primary-black {
  color: var(--color-primary);
}

.dashed-border-wrapper {
  border: 1px dashed var(--color-venetian-red-900);
}

.solid-border-wrapper {
  border: 1px solid var(--color-venetian-red-900);
}

.text-primary-red-700 {
  color: var(--color-venetian-red-700);
}

.text-primary-red-900 {
  color: var(--color-venetian-red-900);
}

.text-primary-red-950 {
  color: var(--color-venetian-red-950);
}

.button-outline {
  border: 1px solid var(--color-venetian-red-900);
  color: var(--color-venetian-red-900);
  background-color: transparent;
}

.button-outline:hover {
  background-color: var(--color-venetian-red-900);
  color: var(--color-wheatfield-50);
}

.button-primary {
  background-color: var(--color-venetian-red-900);
  color: var(--color-wheatfield-50);
}

.button-primary:hover {
  background-color: var(--color-venetian-red-800);
  color: var(--color-wheatfield-50);
}

.background-primary-red-50 {
  background-color: var(--color-venetian-red-50);
}

.background-primary-red-100 {
  background-color: var(--color-venetian-red-100);
}

.background-primary-red-200 {
  background-color: var(--color-venetian-red-200);
}

.background-primary-red-300 {
  background-color: var(--color-venetian-red-300);
}

.background-primary-red-400 {
  background-color: var(--color-venetian-red-400);
}

.background-primary-red-500 {
  background-color: var(--color-venetian-red-500);
}

.background-primary-red-600 {
  background-color: var(--color-venetian-red-600);
}

.background-primary-red-700 {
  background-color: var(--color-venetian-red-700);
}

.background-primary-red-800 {
  background-color: var(--color-venetian-red-800);
}

.background-primary-red-900 {
  background-color: var(--color-venetian-red-900);
}

.background-primary-red-950 {
  background-color: var(--color-venetian-red-950);
}

.backgound-primary-wheat-50 {
  background-color: var(--color-wheatfield-50);
}

.backgound-primary-wheat-100 {
  background-color: var(--color-wheatfield-100);
}

.backgound-primary-wheat-200 {
  background-color: var(--color-wheatfield-200);
}

.backgound-primary-wheat-300 {
  background-color: var(--color-wheatfield-300);
}


.services-section {
  background: var(--color-venetian-red-300) url("./assets/foo.png") top center no-repeat;
  background-size: cover;
}

.hero-section {
  background: url("./assets/hero-2.png") top center no-repeat;
  background-size: cover;
  background-clip: border-box;

}


.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-bullet {
  background: #4F46E5;
}

.swiper-pagination-bullet-active {
  background: #4F46E5 !important;
}




@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}


/* Aspect ratio utilities */
/*.aspect-w-4 {*/
/*position: relative;*/
/*padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);*/
/*}*/
/**/
/*.aspect-w-4 > * {*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 100%;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*}*/
/**/
/*.aspect-w-4 {*/
/*--tw-aspect-w: 4;*/
/*}*/
/**/
/*.aspect-h-3 {*/
/*--tw-aspect-h: 3;*/
/*}*/
